.intro {
  margin: 0 auto;
  background: beige;
  min-height: 100vh;
  padding: 25px;
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1531763455276-f873ff2695d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.title {
  min-height: 80vh;
}
.navbar {
  min-height: 20vh;
}
